*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.keystore
!/gradle/wrapper/gradle-wrapper.jar
/buildSrc/build
/.externalNativeBuild
/.cxx
/Captures
